footer.bg-black {
	width: 100%;
	height: 7%;
	padding: 0.5rem;
	position: fixed;
	bottom: 0;
}

@media(max-width: 767px){
	footer{
			width: 50%;
			margin-bottom: auto;
		}
	}
	@media(max-width: 574px){

		footer{
			width: 25%;
			margin-bottom: auto;
		}
		 }	