<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="/src/index.html">
        <img src="./assets/imagenes/logo Arg-Prog.jpg" alt="Logo Argentina Programa" class="w-100">
      </a>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/analia-perullini-12a304231/" target="_blank">
          <i class="fa-brands fa-linkedin fa-2x text-white"></i></a></li>
        <li class="list-group-item"><a href="https://www.facebook.com/AnAlIa.PIRUX/" target="_blank">
          <i class="fa-brands fa-facebook-f fa-2x text-white"></i></a></li>
        <li class="list-group-item"><a href="https://github.com/Analiaperullini" target="_blank">
          <i class="fa-brands fa-github fa-2x text-white" ></i></a></li>
        <li class="list-group-item">
          <!-- Boton que envia al Login-->
           <a href="/src/login.html"> 
            <i class="fa-solid fa-user-lock fa-2x text-white"></i></a></li>
      </ul>
    </div>
  </nav>
