/*navbar*/
.bg-black{
	background-color: #000000;
}
.list-group{
	--bs-list-group-bg:transparent;
}

.fa-brands.fa-linkedin.fa-2x:hover {
	--bs-text-opacity: 1;
	color: #0d7ce4 !important;
}
.fa-brands.fa-facebook.fa-2x:hover{
	--bs-text-opacity: 1;
	color: #860ef7 !important;
}
.fa-brands.fa-github.fa-2x:hover{
	--bs-text-opacity: 1;
	color: #06d85d !important;
}