<!--Presentación-->
<section class="presentacion mt-5">	
	<h2 class="text-center"><span>Acerca de mi</span></h2>
	<div class="container text-center">
		<div class="row">
			<div class="col-12 col-lg-3">
				<img src="./assets/img/foto_perfil.png" alt="foto perfil" class="rounded-circle img-fluid perfil" id="imagen_perfil"> 
			</div>
			<div class="col-12 col-lg-9 mt-4">
				<h4 class="mt-4 pt-4">Soy abogada, recibida de la UNLAR, Universidad Nacional de La Rioja en el año 2000. Trabajé como asesora en el Consejo Deliberante de la ciudad capital de La Rioja y luego ejercí mi profesion en forma privada.<br>Considero que soy una persona curiosa, emprendedora que me lleva a tomar desafíos como la apicultura (tambien soy productora de miel); hoy mi gran pasión es la programación.<br> Actualmente estudio y realizo pequeños proyectos en el área del desarrollo web junto a un grupo de compañeros, situación que me permite  desarrollar mis conocimientos y crecer junto a ellos.</h4>
			</div>
		</div>
	</div>
</section>
