<section class="container-fluid mt-5">	
	<h2 class="text-center"><span>Hard & soft Skill</span></h2>
	<div class="container text-center">
		<div class="row">
			<div class="col-10 mt-4">
				<h4>HTML</h4>
				<div class="progress">
						<div class="progress-bar bg-rosa" role="progressbar" aria-label="" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
				</div>
				<h4>CSS</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa" role="progressbar" aria-label="" style="width: 70%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">70%</div>
				</div>
				<h4>JAVASCRIPT</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa" role="progressbar" aria-label="Warning example" style="width: 60%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">60%</div>
				</div>
				<h4>ANGULAR</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa" role="progressbar" aria-label="Danger example" style="width: 60%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">60%</div>
				</div>
				<h4>JAVA</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa " role="progressbar" aria-label="Danger example" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">60%</div>
				</div>
				<h4>PSEINT</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa " role="progressbar" aria-label="Danger example" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
				</div>
				<h4>HABILIDADES BLANDAS - COMPAÑERISMO</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa" id="color" role="progressbar" aria-label="Danger example" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
				</div>
				<h4>HABILIDADES BLANDAS - COMUNICACIÓN</h4>
				<div class="progress">
					<div class="progress-bar bg-rosa" id="color" role="progressbar" aria-label="Danger example" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
				</div>
			</div>
			<div class="col-2">	
			</div>
			</div>
	</div>
</section>
<br> <br>	
