<!--Experiencia-->
<section class="experiencia mt-5">	
	<h2 class="text-center"><span>Experiencia</span></h2>
	<div class="container text-center">
		<div class="row">
			<div class="col-12 col-lg-7 mt-4">
				<h4 class="mt-5 pt-4"> El ejercicio de mi profesión la realicé en forma privada trabajando en el "Estudio Jurídico Abogados Asociados" de La Rioja-capital, dedicándome especialmente a divorcios, trámites Anses, jubilaciones, pensiones, daños y perjuicios, sucesiones y Laboral.</h4>
			</div>
			<div class="col-12 col-lg-5">
				<img src="/src/assets/Img/imagen 2.jpeg"  alt="balanza de la justicia" class="imagen_justicia img-fluid">
			</div>
			</div>
	</div>
</section>
